<nav>
  <div class="logo" routerLink="/">CoopBank</div>
  <div class="nav_bar">
  <div class="nav_left">
    <a class="nav" routerLink="/calc" routerLinkActive="nav_active">Kalkulačka</a>
    <a class="nav">Půjčka</a>
    <a class="nav">O společnosti</a>
    <a class="nav">Kontakt</a>
    </div>
  <div class="nav_right">
      <a class="nav" id="admin" routerLink="/admin/allRequest" routerLinkActive="nav_active"
         *ngIf="loggedUser && (loggedUser.roles.includes('ADMIN') || loggedUser.roles.includes('SUPERVIZOR'))">
        Žádosti
      </a>
      <a class="nav" id="login" routerLink="/auth" routerLinkActive="nav_active" *ngIf="!loggedUser">
        Přihlášení
      </a>
      <a class="nav" id="logout" routerLink="/auth" routerLinkActive="nav_active" *ngIf="loggedUser" (click)="onLogout()">
        Odhlášení
      </a>
  </div>
  </div>
</nav>

