.calculator {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

.calculatorInfo {
  text-align: center;
  padding: 30px 20px;
  background: #00843d;
  color: white;
  margin-bottom: 20px;
}

.calculatorContent {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

@media screen and (min-width: 900px){
  .calculatorContent {
    max-width: 1600px;
    margin: 0 auto;
    flex-direction: row;
  }

  .calculatorContentLeft {
    flex-basis: 50%;
  }

  .calculatorContentRight {
    flex-basis: 50%;
  }
}
