<div class="calculator">
  <div class="calculatorInfo">
    <h2>Spočítejte si svou ideální půjčku</h2>
    <h5>S naší pomocí si zde můžete spočítat svoji ideální půjčku, stačí zadat částku, kterou si chcete vypůjčit a dobu,
     po kterou částku budete platit. Dále můžete o půjčku zažádat. To vše přehledně a z pohodlí domova.
      Společně to zvládneme!</h5>
  </div>
  <div class="calculatorContent">
    <app-calculator-main></app-calculator-main>
    <router-outlet></router-outlet>
    <!--<app-calculator-form></app-calculator-form>-->
  </div>
</div>
